<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人学习</title>
	<script type="text/javascript" src="/javascripts/jweixin-1.4.0.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
	<!-- <script type="text/javascript" src="/javascripts/wxconfig.js"></script> -->
</head>
<body>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<p>个人学习站点!</p>
	<section class="footer">
		<a href="http://www.beian.miit.gov.cn" target="_blank" style="position:relative;bottom:0">沪ICP备19036435号-1</a>
	</section>
	<script type="text/javascript">

	</script>
</body>
</html>